<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jockey+One" rel="stylesheet">
    <title>Instructions</title>
</head>
<body>
    <img src="https://i.imgur.com/OaCD9ln.png">
    <h1>Instructions</h1>
    <p>
        Are you tired of those millennials claiming to be 90s kids? 
        Well you came to the right place! Welcome to Only 90's Kids 
        Will Get This! Show who is the most 90's of them all with our 
        90's quiz. But be quick, you only have 15 seconds! We also have a freaking 
        leaderboard showing who is the most 90s of them all! So pack up 
        your yoyos and gak and get ready to compete for the title of 
        90ser than thou.
    </p>
    <div class="menu">
        <button id="start"><a href="/question">Start Quiz</a></button>
        <button id="dashboard"><a href="/dashboard">Dashboard</a></button>
    </div>
    <style>

        * {
            text-align: center;
        }

         body {
            background: linear-gradient( rgb(77, 39, 35), purple,rgba(0, 0, 0, 0.562)) no-repeat fixed;
        }

        img {
            height: 155px;
        }

        h1 {
            font-family: 'Jockey One', sans-serif;
            font-size: 70px;
            margin: 0 auto;
            color: white;
            text-shadow: 3px 3px 5px #E6791E;
        }

        p {
            font-family: 'Jockey One', sans-serif;
            font-size: 35px;
            color: black;
            text-shadow: 3px 3px 5px #662D91;
            margin: 25px;
        }

        a {
            color: white;
            text-decoration: none;
        }

        .menu > button {
            background: radial-gradient(rgb(6, 167, 6), rgb(18, 148, 18));
            color: white;
            font-family: 'Press Start 2P', cursive;
            width: 400px;  
            height: 40px;
            border-radius: 15px;
            display: inline-block;
            margin-bottom: 20px;
            margin-left: 40px;
            left: 130px;
        }

        .menu > button:hover {
            border: 3px orange solid;
            color: fuchsia;
        }

    </style>
</body>
</html>