<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jockey+One" rel="stylesheet">
    <title>Results</title>
</head>
<body>
    <img src="https://i.imgur.com/OaCD9ln.png">
    <h1 class="results">Results</h1>
    <h2 class="white">Amount Correct: <span class="num2">15</span> </h2>
    <h2 class="white">Amount Incorrect: <span class="num2">5</span></h2>
    <h1 class="score">Your Score:</h1>
    <h2 class="num">781,300</h2>
    <style>
        * {
        text-align: center;
        font-family: 'Jockey One', sans-serif;
        color: black;
        margin: 0 auto;
        }

        body {
            margin: 10px 160px;
            background: linear-gradient(#662D91,#E6791E);
        }

        img {
            height: 135px;
        }

        .results {
            margin: 10px;
            font-size: 85px;
            text-shadow: 2px 2px 4px #E6791E;
        }

        .score {
            margin: 10px;
            font-size: 80px;
            text-shadow: 2px 2px 4px #662D91;
        }

        .white {
            margin: 10px;
            color: white;
            font-size: 40px;
            text-shadow: 3px 3px 5px black;
        }

        .num {
            font-family: 'Press Start 2P', cursive;
            margin: 10px;
            font-size: 55px;
            color: #662D91;
            text-shadow: 3px 3px 5px black;
        }

        .num2 {
            margin: 10px;
            font-family: 'Press Start 2P', cursive;
            font-size: 55px;
            color: #E6791E;
            text-shadow: 3px 3px 5px black;
        }
    </style>
</body>
</html>